ul{
    list-style-type: none;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
}
li{
    float: left;
}
li a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 14px 16px;
    display: block;

}
li a :hover{
    background-color: blueviolet;
}
img{
    width: 100%;
}
.icones{
    color: white;
}
